.features{
    width: 100%;
    background-color: #000;
}

.features_inner{
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
    /* background-color: aquamarine; */
}

.features_header{
    width: 100%;
}

.features_header h1{
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
    color: #fff;
}

.features_header p{
    text-align: center;
    font-size: 16px;
    color: #fff;
}

.features_content{
    width: 100%;
    color: #fff
}

.features_title{
    text-align: center;
    margin-top: 5%;
}

.features_title h2{
    font-weight: 400;

}

.features_description{
    text-align: center;
    margin-top: 5%;
}

.features_description h2{
    font-weight: 400;
    margin-bottom: 20px;
    color: #b81a1a
}

.features_description p{
    color: #fff;
    line-height: 30px;
}

.feature_list{
    width: 100%;
}

.feature_list h2{
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #b81a1a
}