*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: black;
    color: rgb(251, 251, 251);
    font-family: 'Poppins';
    padding: 10px 30px;
    scroll-behavior: smooth;
    position: fixed;
    z-index: 100;
}

.nav_links{
    margin-left: 70%;
    border: 1px solid black;
}

.nav_links ul {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.nav_links ul li{
    text-decoration: none;
    list-style: none;
}

.nav_links ul li a, li .link{
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
}

